@page
@model AuthorizeModel
@{

}

<div class="centered pb-5">
    <img height="100" src="/img/htb.png" />
    <h3><b>Authorization</b></h3>
    <hr>
    <form method="POST">
        <input class="custom-text-input" type="password" name="password" placeholder="Enter your password"/>
    </form>
</div>