@page
@model IndexModel
@{

}

<img height="100" src="/img/htb.png" />
<h1><b>HTB Updates</b></h1>
<hr>
<p>HTB Updates is a discord bot that announces your members HackTheBox solves.</p>
<br>
<div class="row">
    <div class="col-md-6 mb-4">
        <h3><b>Solve Announcements</b></h3>
        <img class="rounded mw-100" src="/img/solve_announcement.png" />
    </div>
    <div class="col-md-6 mb-4">
        <h3><b>Release Announcements</b></h3>
        <img class="rounded mw-100" src="/img/machine_announcement.png" />
    </div>
</div>
<hr>
<h3><b>How to get started?</b></h3>
<hr>
<p>Getting started is very easy. Just follow these steps:</p>
<br>
<div class="row text-start">
    <div class="col-md-6">
        <div class="mb-4">
            <h5><b>1. Invite the bot to your server</b></h5>
            <hr>
            <a class="cool-link" target="_blank" href="https://discord.com/oauth2/authorize?client_id=806824180074938419&permissions=2048&scope=bot">Click here</a> to invite the bot to your server.
        </div>
        <div class="mb-4">
            <h5><b>2. Setup the bot</b></h5>
            <hr>
            <p class="m-0">Create the channel you would like the bot to send announcements to and then send the message <b>h.setup</b> in it.</p>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <img class="rounded mw-100" src="/img/setup.png" />
    </div>
</div>
<div class="row">
    <div class="col-md-6 text-start mb-4">
        <h5><b>3. Link HTB accounts</b></h5>
        <hr>
        <p class="m-0">Ask your server members to link their HTB accounts using the <b>h.link</b> command.</p>
    </div>
    <div class="col-md-6 mb-4">
        <img class="rounded mw-100" src="/img/link.png" />
    </div>
</div>
<hr>
<h3><b>About</b></h3>
<hr>
<div class="row">
    <div class="col-md-6 mb-4">
        <h4><b>Open Source</b></h4>
        <p>Did you know? This bot is open source.</p>
        <a class="btn btn-outline-light" target="_blank" href="https://github.com/Et3rnos/HTB_Updates"><i class="fab fa-github"></i> View on Github</a>
    </div>
    <div class="col-md-6 mb-4">
        <h4><b>Creator</b></h4>
        <p>HTB Updates was created by Et3rnos.</p>
        <a class="btn btn-outline-light" target="_blank" href="https://patreon.com/et3rnos"><i class="fab fa-patreon"></i> Support me on Patreon</a>
    </div>
</div>