@page
@model SettingsModel

<div class="container position-relative">
    <img height="100" src="/img/htb.png" />
    <h1>Settings</h1>
    <p>Welcome back @Model.DiscordUsername</p>
    <h2 class="text-start">1. Customization</h2>
    <p class="text-start">Please select the banner style you prefer from the following ones.</p>
</div>