body {
	background-color: #141d2c !important;
	font-family: 'Ubuntu Mono', monospace !important;
}

.cool-link {
	color: inherit !important;
	text-decoration: none !important;
	padding-bottom: 2px !important;
	border-bottom: 1px solid !important;
}

.carousel-item {
	height: 450px;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}